#gameArea{
position:relative;
width:100%;
height:520px;
}

.bubble{

position:absolute;

width:90px;
height:90px;

border-radius:50%;

background:royalblue;
color:white;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;
font-weight:bold;

cursor:pointer;

transition:transform 0.2s;

}

.bubble:hover{
transform:scale(1.1);
}
